= form_with model: [post, comment], class: 'form-inline mb-0', remote: true do |f|
    = f.text_field :body, class: 'form-control input-comment-body', placeholder: 'コメント' 
    = f.submit '投稿', class: 'btn btn-primary btn-raised'